form {
    width: 50%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="radio"],
input[type="checkbox"] {
    display: inline-block;
    margin-right: 10px;
}