* {
    border: 0;
    margin: 0;
    padding: 0;
}

#saltar {

    background-color: whitesmoke;
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    height: 5vh;

}

.contenedores-sup {
    border: double salmon 0.2em;
}

nav ul {
    list-style: none;
    display: flex;
    height: 100%;
    align-self: flex-end;
    justify-content: flex-end;
    /*No se si habra una manera correcta de hacer todo esto, use el display flex
    en cada uno de estos contenedores para mi hover, el de la etiqueta <a> ocupara toda la altura de mi nav,
    por algun motivo en esta pagina no me lo permite, pero en los anteriores trabajos no me encontre con este error*/

}

li {
    display: flex;
    height: 100%;
    align-items: center;

}



a {
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    margin: 10px;
    color: black;
}

a:hover,
a:focus {
    background-color: darkgreen;
    height: 100%;
    color: black;

}

#cont-fig-h {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}


#encabezado {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: red;

}

#primer-fig {
    height: 100%;
}

#primer-img {
    height: 100%;
}

#barra-navegacion {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 5vh;
    background-color: black;
    padding-right: 0.8em;
    color: white;
}

.sitios-ext {
    color: white;
}

#contenido {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 63vh;
    margin-top: 1.5em;

}

#articulo-uno,
#articulo-dos {
    border: 0.1em solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2em;
    width: 40%;
}

#articulo-uno {
    border-top-left-radius: 12%;
    border-bottom-right-radius: 12%;


}


#articulo-dos {
    border-top-right-radius: 12%;
    border-bottom-left-radius: 12%;

}



.titulo {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#pie {
    height: 7vh;
    background-color: beige;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 0.5em;
}

#centro {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}



figure.character {
    border: 1px solid black;
    border-radius: 25%;
    height: 40%;
    min-height: 3em;
    width: 25%;
    padding: 2em;
    margin-top: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.character__img {
    max-width: 100%;
    max-height: 20em;
    background-color: green;
}

.character__name {
    margin: 0;
    background-color: green;
}

.character__description {
    margin: 0;
    background-color: green;
}

.author__img {
    max-width: 100%;
}

.author__name {
    margin: 0;

}

table {
    border-collapse: collapse;
    border: 2px solid black;
    width: 80%;
}

th,
td {
    border: 1px solid black;
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background-color: lightgrey;
}

tbody tr:nth-child(even) {
    background-color: white;
}

#tabla {
    display: flex;
    flex-direction: row;
    height: 120vh;

}

#lado {
    background-color: red;
    min-width: 30%;
    max-width: 30%;
    height: 100%;
}

#main-tabla {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

th:hover,
td:hover {
    background-color: green;
    color: white;
}